doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Caffeine Chronicles
        link(rel='stylesheet' , href='homepagestyle.css')
    body
        script(src='Script.js')
        header
            .container
                #branding
                    h1
                        span.highlight Caffeine Chronicles
                nav
                    ul
                        li.current
                            a(href='/') Home
                        li
                            a(href='catalog') Catalog
                        li
                            a(href='about') About
                        li
                            a(href='contact') Contact
                        li
                            a(href='cart') Cart
                        li
                            a(href='newaccount') Create Account
                        li
                            a(href='login') Login
        section#showcase
            .container
                h1 Thank you for creating an account! You're all set to explore!


        footer
            p Caffeine Chronicles &copy; 2024
