doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Caffeine Chronicles Cart
    link(rel='stylesheet', href='homepagestyle.css')

  body
    script(src='Script.js')
    header
      .container
        #branding
          h1
            span.highlight Caffeine
            | Chronicles
          nav
            ul
              li
                a(href='/') Home
              li
                a(href='catalog') Catalog
              li
                a(href='about') About
              li
                a(href='contact') Contact

    section#showcase
      .container
        h1 Welcome to the World of Books and Coffee

      .container
        section#main-col
          h2.page-title Your Cart
          .cart-item
            h3 Book Title 1
            p Description for Book Title 1.
            button.button_1(onclick='removeItemFromCart("book_title_1");') Remove

        aside#sidebar
          .dark
            h3 Order Summary

    footer
      p Caffeine Chronicles &copy; 2024

    script.
      function removeItemFromCart(itemId) {
          // Here you should add logic taking care of removing
          // an item from the cart on the server, and then updating the cart view
          console.log(`${itemId} removed from the cart`);
      }