doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Books List
    link(rel='stylesheet', href='homepagestyle.css')
   style.
    
      .book-item {
        margin-bottom: 100px;font-size: 14px;
      }
      }
  body
    script(src="Script.js")
    header
      .container
        #branding
          h1
            span.highlight Caffeine Chronicles
        nav
          ul
            li
              a(href="/") Home
            li.current
              a(href="catalog") Catalog
            li
              a(href="about") About
            li
              a(href="contact") Contact
            li
              a(href="cart") Cart
            li
              a(href='newaccount') Create Account
            li
              a(href='login') Login
    section#showcase
      .container
        h1 Welcome to the World of Books and Coffee
        p Discover your next great read with us.
    .container
      section#main-col
        h2.page-title Catalog
            ul.book-list
                each book in books
                    li= book.BookTitle
                    p #{book.Author}
                    p $#{book.Price}
                    p #{book.Desc}
      aside#sidebar
        div.dark
          h3 Get Our Newsletter
          form.quote
            div
              label Email
              br
              input(type="email", placeholder="Enter Email...")
            button.button_1(type="submit") Subscribe
    footer
      p Caffeine Chronicles &copy; 2024
