doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Caffeine Chronicles - About
        link(rel='stylesheet' , href='homepagestyle.css')
        script(src="Script.js")
    body
        header
            div.container
                div#branding
                    h1
                        span.highlight Caffeine Chronicles
                nav
                    ul
                        li
                            a(href="/") Home
                        li
                            a(href="catalog") Catalog
                        li
                            a(href="about") About
                        li.current
                            a(href="contact") Contact
                        li
                            a(href="cart") Cart
                        li
                            a(href='newaccount') Create Account
                        li
                            a(href='login') Login
        section#showcase
            div.container
                h1 Welcome to the World of Books and Coffee
                p Discover your next great read with us.
        div.container
            section#main-col
                h2.page-title Need to get a hold of us?
                    p Contact us at placeholderemail@live.com
                    br

            aside#sidebar
                div.dark
                    h3 Get Our Newsletter
                    form.quote
                        div
                            label Email
                            br
                            input(type="email", placeholder="Enter Email...")
                        button.button_1(type="submit") Subscribe
        footer
            p Caffeine Chronicles © 2024