doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Employee Login
    link(rel='stylesheet' , href='/stylesheets/style.css'))
  body
    .login-container
      h2 Employee Login
      form#loginForm
        .form-group
          label(for="username") Username:
          input(type="text", id="username", name="username", required)
        .form-group
          label(for="password") Password:
          input(type="password", id="password", name="password", required)
        button(type="submit") Login
    script(src="script.js")
