// homepage.pug
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Caffeine Chronicles
    link(rel='stylesheet' , href='/stylesheets/style.css')
    style.
      .book-item {
        margin-bottom: 100px;
      }
  body
    script(src='Script.js')
    header
      .container
        #branding
          h1
            span.highlight Caffeine Chronicles
        nav
          ul
            li.current
              a(href='/') Home
            li
              a(href='catalog') Catalog
            li
              a(href='about') About
            li
              a(href='contact') Contact
            li
              a(href='cart') Cart
            li
              if isAuthenticated
                a(href="/userinfo")
                  div.NavButton User

                li
                  a(href="/logout")
                    div.NavButton Logout
                li
                  a(href="/orders")
                    div.NavButton Orders
              else
                a(href="/login")
                  div.NavButton Log in


    img(src='../images/showcase.jpeg', alt='Showcase photo', width='100%')
    .container
      section#main-col
        h2.page-title(style='border-bottom: 2px solid #FFA500; padding-bottom: 5px;') Featured Books
          br
          h3 A Gentleman in Moscow: A Novel
            p Author: Amor Towles
            br

          h3 Astrophysics for People in a Hurry
            p Author: Neil deGrasse Tyson
      aside#sidebar
        .dark
          h3 Get Our Newsletter
          form.quote
            div
              label
              br
              input(type='email', placeholder='Enter Email...')
            button.button_1(type='submit', onclick="myFunction()") Subscribe
    footer
      p Caffeine Chronicles &copy; 2024

script.
      function myFunction() {
        alert("Thanks for subscribing!");
        window.location.reload();
      }