doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Inventory Management
    link(rel='stylesheet' , href='/stylesheets/style.css')
    style.
      .inventory-item {
        margin-bottom: 20px;
      }
      .item-details {
        font-size: 12pt;
      }
      .description {
        font-size: 9pt;
      }
      .edit-button, .add-button {
        background-color: #ff7f50; 
        color: white;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      .edit-button:hover, .add-button:hover {
        background-color: #5a3a22;
      }
  body
    header
      .container
        #branding
          h1 Caffeine Chronicles
        nav
          ul
            li
              a(href="/") Home
            li.current
              a(href="/inventory") Inventory
            li
              a(href="/about") About
            li
              a(href="/contact") Contact
            li
              a(href="/dashboard") Dashboard
    .container
      section#main-col
        h2.page-title Inventory Management
        ul
          // The following list items would be generated dynamically from the server-side
      
                each book in books
                    li.book-item 
                      .book-details
              p
                span.label ID:
                |  
              p
                span.label Name:
                |  #{book.BookTitle}
              p
                span.label Quantity:
                |  [Item Quantity]
              p.description
                span.label Description:
                |  #{book.Desc}
            a.edit-button(href="/inventory/edit/") Edit Item
          // Repeat the above list item for each inventory item
        a.add-button(href="/inventory/add") Add New Item
    footer
      p Caffeine Chronicles &copy; 2024
