doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Payment Form
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src="Script.js")
  body
    header

      header
        .container
          #branding
            h1
              span.highlight Caffeine Chronicles
          nav
            ul
              li
                a(href="/") Home
              li
                a(href="catalog") Catalog
              li
                a(href="about") About
              li
                a(href="contact") Contact
              li
                a(href="cart") Cart
              li
                if isAuthenticated
                  a(href="/userinfo")
                    div.NavButton User

                  li
                    a(href="/logout")
                      div.NavButton Logout
                  li
                    a(href="/orders")
                      div.NavButton Orders
                else
                  a(href="/login")
                    div.NavButton Log In
    .payment-container
      section#paymentForm
        h2 Payment Details
      form(action='paymentform' method='POST')
        div
          label(for='nameOnCard') Name on Card
          input(type='text', id='nameOnCard', required)
        div
          label(for='cardNumber') Card Number
          input(type='text', id='cardNumber', pattern='\\d*', maxlength='16', required)
        div
          label(for='expiryDate') Expiry Date
          input(type='month', id='expiryDate', required)
        div
          label(for='cvv') CVV
          input(type='text', id='cvv', pattern='\\d*', maxlength='3', required)
          br
          br


        h2 Shipping Address

        //div
        //  label(for='lastName') Last Name:
        //  input#lastName(type='text' name='lastName' required='' value= Customer.LastName)
        //div
        //  label(for='firstName') First Name:
        //  input#firstName(type='text' name='firstName' required='' value= Customer.FirstName)
        //div
        //  label(for='phone') Phone Number:
        //  input#phone(type='text' name='phone' required='' value= Customer.PhoneNumber)
        //div
        //  label(for='email') Email Address:
        //  input#email(type='email' name='email' required= '' value= Customer.EmailAddress readonly= ' ')
        div
          label(for='address') Address:
          input#address(type='text' name='address' required='' value= Customer.Address)

        div
          label(for='city') City:
          input#city(type='text' name='city' required='' value= Customer.City)
        div
          label(for='state') State:
          input#state(type='text' name='state' required='' value= Customer.State)
        div
          label(for='postalCode') Postal Code:
          input#postalCode(type='text' name='postalCode' required='' value= Customer.PostalCode)
          br
        div
          p Total being charged: $#{absoluteTotal}
        button(type='submit') Pay Now


