doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Express HTML Example
        link(rel='stylesheet', href='style.css')
    body
        header
            h1 Hello from Express!
        main
            p This is a simple HTML page served by Express.